//----------------------- Colores Base --------------------------------
$coloresBase: (
    'negro':#303030,
    'blanco':#ffffff,
    'beige': #EEEBE6,
    'gris':#979797,
    'gris-claro':#F2F2F2,
    'gris-oscuro':#666666,
    'gris-azulado':#c1c9d0,
    'cafe': #916648,
    'cafe-oscuro' : #32281F
);

@each $colorBase in $coloresBase {
    .bg-#{nth($colorBase,1)}{
        background-color: nth($colorBase,2) !important;
    }
    
    .border-#{nth($colorBase,1)}{
      border-color: nth($colorBase,2) !important;
    }
    
    .color-#{nth($colorBase,1)}{
      color: nth($colorBase,2) !important;
    }
}

//----------------------- Tamaños Imagenes --------------------------------
$imgTamanos: (
    'xs':1,
    'sm':1.5,
    'md':2,
    'lg':2.5,
    'xl':3
);

@each $imgTamano in $imgTamanos {
    .img-#{nth($imgTamano,1)}{
        height: #{nth($imgTamano,2)}rem !important;
        width: #{nth($imgTamano,2)}rem !important;
    }
}

//----------------------- Tamaños Ancho y Encabezados --------------------------------
$tamanos: (
    '10':10,
    '15':15,
    '20':20,
    '25':25,
    '30':30,
    '35':35
    '40':40,
    '45':45,
    '50':50,
    '55':55,
    '60':60,
    '65':65
    '70':70,
    '75':75,
    '80':80,
    '85':85,
    '90':90
    '95':95
);

@each $tamano in $tamanos {
    .w-#{nth($tamano,1)}{
        width: #{nth($tamano,2)}% !important;
    }
    
    .h-#{nth($tamano,1)}{
        height: #{nth($tamano,2)}% !important;
    }
}

//----------------------- Tamaños de Fuente --------------------------------
$tamanosFuente: (
    '8':8,
    '10':10,
    '12':12,
    '14':14,
    '16':16,
    '18':18,
    '20':20,
);

@each $tamanoFuente in $tamanosFuente {
    .font-#{nth($tamanoFuente,1)}{
        font-size: #{nth($tamanoFuente,2)}px !important;
    }
}

//----------------------- Tipo de Cursores --------------------------------
$cursorTipos: (
    'pointer':pointer,
    'not-allowed':not-allowed,
    'none':none,
    'move':all-scroll,
);

@each $cursorTipo in $cursorTipos {
    .cursor-#{nth($cursorTipo,1)}{
        cursor: nth($cursorTipo,2) !important;
    }
}

//---------------------------- Hover -------------------------------------
.accion-hover{
    .hover{
        display: none;
    }

    &:hover{
        .hover{
          display: inline;
        }
		.texto {
			font-weight: bold;
		}
    }
}

//---------------------------- Borders -------------------------------------
.border-dashed{
    border-style: dashed !important;
 }
 
 .border-top-0{
     border-top: none !important;
 }
 
 .border-bottom-0{
     border-bottom: none !important;
 }
 
.rounded-lg{
    border-radius: 1.25rem !important;
}

.rounded-md{
    border-radius: 0.75rem !important;
}

.rounded-t-lg{
    border-top-left-radius: 1rem !important;
    border-top-right-radius: 1rem !important;
}

.rounded-t-md{
    border-top-left-radius: 0.75rem !important;
    border-top-right-radius: 0.75rem !important;
}

.rounded-tl-lg{
    border-top-left-radius: 1rem !important;
}

.rounded-tr-lg{
    border-top-right-radius: 1rem !important;
}

.rounded-b-lg{
    border-bottom-left-radius: 1rem !important;
    border-bottom-right-radius: 1rem !important;
}

//---------------------------- Otros -------------------------------------
.list-style-0{
    list-style-type: none;
}

.text-underline{
   text-decoration: underline !important;
}

.w-inherit{
    width: inherit !important;
}

.flex-basis-100{
    flex-basis: 100%;
}

.hr-vertical{
    border: none;
    border-left: 1px solid #c1c9d0;
    height: 100%;
    width: 1px;
}